
/* PC.CSS */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */



.pc-jumbo .pc-first-word
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */






html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.pc-serif{font-family:serif}.pc-sans-serif{font-family:sans-serif}.pc-cursive{font-family:cursive}.pc-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.pc-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.pc-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.pc-table,.pc-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.pc-table-all{border:1px solid #ccc}
.pc-bordered tr,.pc-table-all tr{border-bottom:1px solid #ddd}.pc-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.pc-table-all tr:nth-child(odd){background-color:#fff}.pc-table-all tr:nth-child(even){background-color:#f1f1f1}
.pc-hoverable tbody tr:hover,.pc-ul.pc-hoverable li:hover{background-color:#ccc}.pc-centered tr th,.pc-centered tr td{text-align:center}
.pc-table td,.pc-table th,.pc-table-all td,.pc-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.pc-table th:first-child,.pc-table td:first-child,.pc-table-all th:first-child,.pc-table-all td:first-child{padding-left:16px}
.pc-btn,.pc-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.pc-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.pc-btn,.pc-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.pc-disabled,.pc-btn:disabled,.pc-button:disabled{cursor:not-allowed;opacity:0.3}.pc-disabled *,:disabled *{pointer-events:none}
.pc-btn.pc-disabled:hover,.pc-btn:disabled:hover{box-shadow:none}
.pc-badge,.pc-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.pc-badge{border-radius:50%}
.pc-ul{list-style-type:none;padding:0;margin:0}.pc-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.pc-ul li:last-child{border-bottom:none}
.pc-tooltip,.pc-display-container{position:relative}.pc-tooltip .pc-text{display:none}.pc-tooltip:hover .pc-text{display:inline-block}
.pc-ripple:active{opacity:0.5}.pc-ripple{transition:opacity 0s}
.pc-input{padding:8px;display:block;border:none;border-bottom:1px solid #253ca1;width:100%}
.pc-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.pc-dropdown-click,.pc-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.pc-dropdown-hover:hover .pc-dropdown-content{display:block}
.pc-dropdown-hover:first-child,.pc-dropdown-click:hover{background-color:#ccc;color:#000}
.pc-dropdown-hover:hover > .pc-button:first-child,.pc-dropdown-click:hover > .pc-button:first-child{background-color:#ccc;color:#000}
.pc-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.pc-check,.pc-radio{width:24px;height:24px;position:relative;top:6px}
.pc-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.pc-bar-block .pc-dropdown-hover,.pc-bar-block .pc-dropdown-click{width:100%}
.pc-bar-block .pc-dropdown-hover .pc-dropdown-content,.pc-bar-block .pc-dropdown-click .pc-dropdown-content{min-width:100%}
.pc-bar-block .pc-dropdown-hover .pc-button,.pc-bar-block .pc-dropdown-click .pc-button{width:100%;text-align:left;padding:8px 16px}
.pc-main,#main{transition:margin-left .4s}
.pc-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.pc-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.pc-bar{width:100%;overflow:hidden}.pc-center .pc-bar{display:inline-block;width:auto}
.pc-bar .pc-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.pc-bar .pc-dropdown-hover,.pc-bar .pc-dropdown-click{position:static;float:left}
.pc-bar .pc-button{white-space:normal}
.pc-bar-block .pc-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.pc-bar-block.pc-center .pc-bar-item{text-align:center}.pc-block{display:block;width:100%}
.pc-responsive{display:block;overflow-x:auto}
.pc-container:after,.pc-container:before,.pc-panel:after,.pc-panel:before,.pc-row:after,.pc-row:before,.pc-row-padding:after,.pc-row-padding:before,
.pc-cell-row:before,.pc-cell-row:after,.pc-clear:after,.pc-clear:before,.pc-bar:before,.pc-bar:after{content:"";display:table;clear:both}
.pc-col,.pc-half,.pc-third,.pc-twothird,.pc-quarter{float:left;width:100%}
.pc-col.s1{width:8.33333%}.pc-col.s2{width:16.66666%}.pc-col.s3{width:24.99999%}.pc-col.s4{width:33.33333%}
.pc-col.s5{width:41.66666%}.pc-col.s6{width:49.99999%}.pc-col.s7{width:58.33333%}.pc-col.s8{width:66.66666%}
.pc-col.s9{width:74.99999%}.pc-col.s10{width:83.33333%}.pc-col.s11{width:91.66666%}.pc-col.s12{width:99.99999%}
@media (min-width:601px){.pc-col.m1{width:8.33333%}.pc-col.m2{width:16.66666%}.pc-col.m3,.pc-quarter{width:24.99999%}.pc-col.m4,.pc-third{width:33.33333%}
.pc-col.m5{width:41.66666%}.pc-col.m6,.pc-half{width:49.99999%}.pc-col.m7{width:58.33333%}.pc-col.m8,.pc-twothird{width:66.66666%}
.pc-col.m9,.pc-threequarter{width:74.99999%}.pc-col.m10{width:83.33333%}.pc-col.m11{width:91.66666%}.pc-col.m12{width:99.99999%}}
@media (min-width:993px){.pc-col.l1{width:8.33333%}.pc-col.l2{width:16.66666%}.pc-col.l3{width:24.99999%}.pc-col.l4{width:33.33333%}
.pc-col.l5{width:41.66666%}.pc-col.l6{width:49.99999%}.pc-col.l7{width:58.33333%}.pc-col.l8{width:66.66666%}
.pc-col.l9{width:74.99999%}.pc-col.l10{width:83.33333%}.pc-col.l11{width:91.66666%}.pc-col.l12{width:99.99999%}}
.pc-rest{overflow:hidden}.pc-stretch{margin-left:-16px;margin-right:-16px}
.pc-content,.pc-auto{margin-left:auto;margin-right:auto}.pc-content{max-width:980px}.pc-auto{max-width:1140px}
.pc-cell-row{display:table;width:100%}.pc-cell{display:table-cell}
.pc-cell-top{vertical-align:top}.pc-cell-middle{vertical-align:middle}.pc-cell-bottom{vertical-align:bottom}
.pc-hide{display:none!important}.pc-show-block,.pc-show{display:block!important}.pc-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.pc-auto{max-width:95%}}
@media (max-width:600px){.pc-modal-content{margin:0 10px;width:auto!important}.pc-modal{padding-top:30px}
.pc-dropdown-hover.pc-mobile .pc-dropdown-content,.pc-dropdown-click.pc-mobile .pc-dropdown-content{position:relative}	
.pc-hide-small{display:none!important}.pc-mobile{display:block;width:100%!important}.pc-bar-item.pc-mobile,.pc-dropdown-hover.pc-mobile,.pc-dropdown-click.pc-mobile{text-align:center}
.pc-dropdown-hover.pc-mobile,.pc-dropdown-hover.pc-mobile .pc-btn,.pc-dropdown-hover.pc-mobile .pc-button,.pc-dropdown-click.pc-mobile,.pc-dropdown-click.pc-mobile .pc-btn,.pc-dropdown-click.pc-mobile .pc-button{width:100%}}
@media (max-width:768px){.pc-modal-content{width:500px}.pc-modal{padding-top:50px}}
@media (min-width:993px){.pc-modal-content{width:900px}.pc-hide-large{display:none!important}.pc-sidebar.pc-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.pc-hide-medium{display:none!important}}
@media (max-width:992px){.pc-sidebar.pc-collapse{display:none}.pc-main{margin-left:0!important;margin-right:0!important}.pc-auto{max-width:100%}}
.pc-top,.pc-bottom{position:fixed;width:100%;z-index:1}.pc-top{top:0}.pc-bottom{bottom:0}
.pc-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.pc-display-topleft{position:absolute;left:0;top:0}.pc-display-topright{position:absolute;right:0;top:0}
.pc-display-bottomleft{position:absolute;left:0;bottom:0}.pc-display-bottomright{position:absolute;right:0;bottom:0}
.pc-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.pc-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.pc-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.pc-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.pc-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.pc-display-container:hover .pc-display-hover{display:block}.pc-display-container:hover span.pc-display-hover{display:inline-block}.pc-display-hover{display:none}
.pc-display-position{position:absolute}
.pc-circle{border-radius:50%}
.pc-round-small{border-radius:2px}.pc-round,.pc-round-medium{border-radius:4px}.pc-round-large{border-radius:8px}.pc-round-xlarge{border-radius:16px}.pc-round-xxlarge{border-radius:32px}
.pc-row-padding,.pc-row-padding>.pc-half,.pc-row-padding>.pc-third,.pc-row-padding>.pc-twothird,.pc-row-padding>.pc-threequarter,.pc-row-padding>.pc-quarter,.pc-row-padding>.pc-col{padding:0 8px}
.pc-container,.pc-panel{padding:0.01em 16px}.pc-panel{margin-top:16px;margin-bottom:16px}
.pc-code,.pc-codespan{font-family:Consolas,"courier new";font-size:16px}
.pc-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.pc-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.pc-card,.pc-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.pc-card-4,.pc-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.pc-spin{animation:pc-spin 2s infinite linear}@keyframes pc-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.pc-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.pc-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.pc-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.pc-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.pc-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.pc-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.pc-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.pc-animate-input{transition:width 0.4s ease-in-out}.pc-animate-input:focus{width:100%!important}
.pc-opacity,.pc-hover-opacity:hover{opacity:0.60}.pc-opacity-off,.pc-hover-opacity-off:hover{opacity:1}
.pc-opacity-max{opacity:0.25}.pc-opacity-min{opacity:0.75}
.pc-greyscale-max,.pc-grayscale-max,.pc-hover-greyscale:hover,.pc-hover-grayscale:hover{filter:grayscale(100%)}
.pc-greyscale,.pc-grayscale{filter:grayscale(75%)}.pc-greyscale-min,.pc-grayscale-min{filter:grayscale(50%)}
.pc-sepia{filter:sepia(75%)}.pc-sepia-max,.pc-hover-sepia:hover{filter:sepia(100%)}.pc-sepia-min{filter:sepia(50%)}
.pc-tiny{font-size:10px!important}.pc-small{font-size:12px!important}.pc-medium{font-size:15px!important}.pc-large{font-size:18px!important}
.pc-xlarge{font-size:24px!important}.pc-xxlarge{font-size:36px!important}.pc-xxxlarge{font-size:48px!important}.pc-first-word{font-size:30px!important}.pc-jumbo{font-size:30px!important}
.pc-left-align{text-align:left!important}.pc-right-align{text-align:right!important}.pc-justify{text-align:justify!important}.pc-center{text-align:center!important}
.pc-border-0{border:0!important}.pc-border{border:1px solid #ccc!important}
.pc-border-top{border-top:1px solid #ccc!important}.pc-border-bottom{border-bottom:1px solid #ccc!important}
.pc-border-left{border-left:1px solid #ccc!important}.pc-border-right{border-right:1px solid #ccc!important}
.pc-topbar{border-top:6px solid #ccc!important}.pc-bottombar{border-bottom:6px solid #ccc!important}
.pc-leftbar{border-left:6px solid #ccc!important}.pc-rightbar{border-right:6px solid #ccc!important}
.pc-section,.pc-code{margin-top:16px!important;margin-bottom:16px!important}
.pc-margin{margin:16px!important}.pc-margin-top{margin-top:16px!important}.pc-margin-bottom{margin-bottom:16px!important}
.pc-margin-left{margin-left:16px!important}.pc-margin-right{margin-right:16px!important}
.pc-padding-small{padding:4px 8px!important}.pc-padding{padding:8px 16px!important}.pc-padding-large{padding:12px 24px!important}
.pc-padding-16{padding-top:16px!important;padding-bottom:16px!important}.pc-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.pc-padding-32{padding-top:32px!important;padding-bottom:32px!important}.pc-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.pc-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.pc-padding-top-64{padding-top:64px!important}.pc-padding-top-48{padding-top:48px!important}
.pc-padding-top-32{padding-top:32px!important}.pc-padding-top-24{padding-top:24px!important}
.pc-left{float:left!important}.pc-right{float:right!important}
.pc-button:hover{color:#000!important;background-color:#ccc!important}
.pc-transparent,.pc-hover-none:hover{background-color:transparent!important}
.pc-hover-none:hover{box-shadow:none!important}
/* Colors */
.pc-amber,.pc-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.pc-aqua,.pc-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.pc-blue,.pc-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.pc-light-blue,.pc-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.pc-brown,.pc-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.pc-cyan,.pc-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.pc-blue-grey,.pc-hover-blue-grey:hover,.pc-blue-gray,.pc-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.pc-green,.pc-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.pc-light-green,.pc-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.pc-indigo,.pc-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.pc-khaki,.pc-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.pc-lime,.pc-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.pc-orange,.pc-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.pc-deep-orange,.pc-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.pc-pink,.pc-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.pc-purple,.pc-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.pc-deep-purple,.pc-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.pc-red,.pc-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.pc-sand,.pc-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.pc-teal,.pc-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.pc-yellow,.pc-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.pc-white,.pc-hover-white:hover{color:#000!important;background-color:#fff!important}
.pc-black,.pc-hover-black:hover{color:#fff!important;background-color:#000!important}
.pc-grey,.pc-hover-grey:hover,.pc-gray,.pc-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.pc-light-grey,.pc-hover-light-grey:hover,.pc-light-gray,.pc-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.pc-dark-grey,.pc-hover-dark-grey:hover,.pc-dark-gray,.pc-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.pc-pale-red,.pc-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.pc-pale-green,.pc-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.pc-pale-yellow,.pc-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.pc-pale-blue,.pc-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.pc-text-amber,.pc-hover-text-amber:hover{color:#ffc107!important}
.pc-text-aqua,.pc-hover-text-aqua:hover{color:#00ffff!important}
.pc-text-blue,.pc-hover-text-blue:hover{color:#2196F3!important}
.pc-text-light-blue,.pc-hover-text-light-blue:hover{color:#87CEEB!important}
.pc-text-brown,.pc-hover-text-brown:hover{color:#795548!important}
.pc-text-cyan,.pc-hover-text-cyan:hover{color:#00bcd4!important}
.pc-text-blue-grey,.pc-hover-text-blue-grey:hover,.pc-text-blue-gray,.pc-hover-text-blue-gray:hover{color:#607d8b!important}
.pc-text-green,.pc-hover-text-green:hover{color:#4CAF50!important}
.pc-text-light-green,.pc-hover-text-light-green:hover{color:#8bc34a!important}
.pc-text-indigo,.pc-hover-text-indigo:hover{color:#3f51b5!important}
.pc-text-khaki,.pc-hover-text-khaki:hover{color:#b4aa50!important}
.pc-text-lime,.pc-hover-text-lime:hover{color:#cddc39!important}
.pc-text-orange,.pc-hover-text-orange:hover{color:#ff9800!important}
.pc-text-deep-orange,.pc-hover-text-deep-orange:hover{color:#ff5722!important}
.pc-text-pink,.pc-hover-text-pink:hover{color:#e91e63!important}
.pc-text-purple,.pc-hover-text-purple:hover{color:#9c27b0!important}
.pc-text-deep-purple,.pc-hover-text-deep-purple:hover{color:#673ab7!important}
.pc-text-red,.pc-hover-text-red:hover{color:#f44336!important}
.pc-text-sand,.pc-hover-text-sand:hover{color:#fdf5e6!important}
.pc-text-teal,.pc-hover-text-teal:hover{color:#009688!important}
.pc-text-yellow,.pc-hover-text-yellow:hover{color:#d2be0e!important}
.pc-text-white,.pc-hover-text-white:hover{color:#fff!important}
.pc-text-black,.pc-hover-text-black:hover{color:#000!important}
.pc-text-grey,.pc-hover-text-grey:hover,.pc-text-gray,.pc-hover-text-gray:hover{color:#757575!important}
.pc-text-light-grey,.pc-hover-text-light-grey:hover,.pc-text-light-gray,.pc-hover-text-light-gray:hover{color:#f1f1f1!important}
.pc-text-dark-grey,.pc-hover-text-dark-grey:hover,.pc-text-dark-gray,.pc-hover-text-dark-gray:hover{color:#3a3a3a!important}
.pc-border-amber,.pc-hover-border-amber:hover{border-color:#ffc107!important}
.pc-border-aqua,.pc-hover-border-aqua:hover{border-color:#00ffff!important}
.pc-border-blue,.pc-hover-border-blue:hover{border-color:#2196F3!important}
.pc-border-light-blue,.pc-hover-border-light-blue:hover{border-color:#87CEEB!important}
.pc-border-brown,.pc-hover-border-brown:hover{border-color:#795548!important}
.pc-border-cyan,.pc-hover-border-cyan:hover{border-color:#00bcd4!important}
.pc-border-blue-grey,.pc-hover-border-blue-grey:hover,.pc-border-blue-gray,.pc-hover-border-blue-gray:hover{border-color:#607d8b!important}
.pc-border-green,.pc-hover-border-green:hover{border-color:#4CAF50!important}
.pc-border-light-green,.pc-hover-border-light-green:hover{border-color:#8bc34a!important}
.pc-border-indigo,.pc-hover-border-indigo:hover{border-color:#3f51b5!important}
.pc-border-khaki,.pc-hover-border-khaki:hover{border-color:#f0e68c!important}
.pc-border-lime,.pc-hover-border-lime:hover{border-color:#cddc39!important}
.pc-border-orange,.pc-hover-border-orange:hover{border-color:#ff9800!important}
.pc-border-deep-orange,.pc-hover-border-deep-orange:hover{border-color:#ff5722!important}
.pc-border-pink,.pc-hover-border-pink:hover{border-color:#e91e63!important}
.pc-border-purple,.pc-hover-border-purple:hover{border-color:#9c27b0!important}
.pc-border-deep-purple,.pc-hover-border-deep-purple:hover{border-color:#673ab7!important}
.pc-border-red,.pc-hover-border-red:hover{border-color:#f44336!important}
.pc-border-sand,.pc-hover-border-sand:hover{border-color:#fdf5e6!important}
.pc-border-teal,.pc-hover-border-teal:hover{border-color:#009688!important}
.pc-border-yellow,.pc-hover-border-yellow:hover{border-color:#ffeb3b!important}
.pc-border-white,.pc-hover-border-white:hover{border-color:#fff!important}
.pc-border-black,.pc-hover-border-black:hover{border-color:#000!important}
.pc-border-grey,.pc-hover-border-grey:hover,.pc-border-gray,.pc-hover-border-gray:hover{border-color:#9e9e9e!important}
.pc-border-light-grey,.pc-hover-border-light-grey:hover,.pc-border-light-gray,.pc-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.pc-border-dark-grey,.pc-hover-border-dark-grey:hover,.pc-border-dark-gray,.pc-hover-border-dark-gray:hover{border-color:#616161!important}
.pc-border-pale-red,.pc-hover-border-pale-red:hover{border-color:#ffe7e7!important}.pc-border-pale-green,.pc-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.pc-border-pale-yellow,.pc-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.pc-border-pale-blue,.w3pc-hover-border-pale-blue:hover{border-color:#e7ffff!important}